body {
    font-family: 'Hero';
    margin: 0%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;

}

.headline {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    font-size: 48px;
    font-weight: bold;


}

ul {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    padding: 16px;
    margin-right: 100px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.firstramen {
    font-size: 48px;
    font-weight: bold;
}

.since {
    font-size: 32px;

}

.section2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 32px;
    flex: 2;

}

.section2 img {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    outline: auto;
    outline-offset: 8px;
    border-radius: 20px;
    margin: 32px;
}

.ramen {
    text-align: center;
    font-family: 'Helvetica';
    font-weight: bold;
}

.section3 {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: large;
    font-weight: bold;
    background-color: antiquewhite;
}

.content {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    margin-top: auto;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}